*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-container{
    width: 80%;
    background: white;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.contact-us-container .contact-us-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-us-container .contact-us-content .left-side{
    width: 25%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-us-content .left-side::before{
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    background: #afafb6;
}
.contact-us-content .left-side .details{
    margin: 14px;  
    text-align: center;
}
.contact-us-content .left-side .details .text-one,
.contact-us-content .left-side .details .text-two,
.contact-us-content .left-side .details .text-three{
    font-size: 14px; 
    color: rgba(0, 0, 0, 0.7);
}
.contact-us-content .left-side .details i{
    font-size: 30px;
    color: blueviolet;
    margin-bottom: 10px;
}
.contact-us-content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.contact-us-container .contact-us-content .right-side{
    width: 75%;
    margin-left: 75px;
}
.contact-us-content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: blueviolet ;
}
.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input ,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-weight: 500;
    border-radius: 6px;
    background: #f0f1f8;
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px; 
}
.right-side .button{ 
    margin-top: 6px; 
    display: inline-block;
}
.right-side .button input[type="button"]{
    color: white;
    font-size: 14px;
    background: blueviolet;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.right-side .button input[type="button"]:hover{
    background: rgb(86, 0, 166);
}
@media (max-width:1100px){
    .container{
        width: 90%;
        padding: 25px 30px 35px 30px;
        
    }
}
@media (max-width:870px){
    .container{
        margin: 40px 0; 
        height: 100%;

    }
    .contact-us-container .contact-us-content{
        flex-direction: column-reverse;
    }
    .contact-us-container .contact-us-content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact-us-container .contact-us-content .left-side::before{
        display: none;
    }
    .contact-us-container .contact-us-content .right-side{
        width: 100%;
        margin-left: 0;
    }
}